body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 242, 219);
    text-align: center;
}

h1,
h3 {
    color: orange;
}

textarea {
    padding: 15px;
    border: 1px solid orange;
}

.container {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border: 5px solid orange;
}

input {
    width: 250px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid orange;
}

.erro {
    color: red;
    font-size: 15px;
    margin-bottom: 10px;
}

button {
    width: 250px;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}

.resultado {
    color: green;
    margin-top: 10px;
}